:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-light);
    font-family: 'Rooto' ,sans-serif;
}

/* Header */
.header {
    text-align: center;
}

.title {
    font-size: 80px;
    padding: 0 50px 50px;
    color: var(--primary-dark);
}

.btn {
    margin-bottom: 10px;
    padding: 7px;
}

.slider {

}

/* Main */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    display: grid;
    height: 500px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px;
    margin-bottom: 50px;
    background-color: var(--secondary-light);
}